.btn {
	width: 239px;
	height: 61px;
	border-radius: 16px;
	background-color: #2d67bd;
	color: white;
	box-shadow: 3px 3px 10px 3px #d3d3d3;
	border: none;
	transition-duration: 0.1s;
	font-size: 36px;
	font-weight: 500;
}

.btn:active {
	margin-left: 5px;
	margin-top: 5px;
	box-shadow: none;
}
