.info {
	display: flex;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 50px;
}

.main {
	display: flex;
	justify-content: space-between;
}
.title {
	font-size: 32px;
	font-weight: 500;
}

.bold {
	font-weight: 800;
}

.bottom {
	margin-top: 20px;
}

.members {
	margin-bottom: 20px;
}

.tag {
	margin-top: 10px;
}
